bin
build
node_modules
types

# ignore all js files under lib except explicit ones specified here
lib/**/*.js
!lib/core/*.js
!lib/zone/zone-main.js
!lib/binding.js

# ignore all js files under test
test/**/*.js
test/module/test-dir
test/module/test-file
!test/module/node_modules
!test/module/**/*.js
!test/transport-builtin-test.js

!unittest/module/test-files/node_modules

# ignore all js files under benchmark
benchmark/**/*.js

package-lock.json

!tsconfig.json

# ignore all VSCode files
.vscode

# ignore npm related files
npm-debug.log
