bin
build
node_modules
types

# ignore all js files under lib except explicit ones specified here
lib/**/*.js
!lib/core/*.js
!lib/zone/zone-main.js
!lib/binding.js

# ignore all js files under test
test/**/*.js

package-lock.json

!tsconfig.json

# ignore all VSCode files
.vscode