bin
build
examples

# Exclude TypeScript source files.
benchmark/**/*.ts
benchmark/tsconfig.json
lib/**/*.ts
lib/tsconfig.json
test/**/*.ts
test/module/test-dir
test/module/test-file
test/tsconfig.json

.vscode
.npmrc
.npmignore
.taskkey
.travis.yml