language: node_js
compiler: default
matrix:
  exclude:
  # Disable the default build and use customized matrix only.
  - compiler: default
  include:
  # Node Current (10.x)       Linux (Trusty)          G++7.3.0
  - os: linux
    dist: trusty
    node_js: '10'
    compiler: g++-7
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - g++-7
    env:
    - COMPILER_OVERRIDE="CXX=g++-7 CC=gcc-7"
  # Node Current (10.x)       macOS (High Sierra)     AppleClang 9.1
  - os: osx
    node_js: '10'
    osx_image: xcode9.3

before_install:
- |
  if [ $TRAVIS_OS_NAME == linux ]; then
    export ${COMPILER_OVERRIDE}
  fi
install:
- npm install cmake-js -g
- npm install --no-fetch
script:
- npm test
- npm run unittest
